<form method="post" action="{{ path('movie_rate1', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token1" value="{{ csrf_token('post' ~ movie.avgRating) }}">
    <button class="btn">1</button>
</form>

<form method="post" action="{{ path('movie_rate1', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token1" value="{{ csrf_token('post' ~ movie.avgRating) }}">
    <button class="btn">1</button>
</form>

<form method="post" action="{{ path('movie_rate1', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token1" value="{{ csrf_token('post' ~ movie.avgRating) }}">
    <button class="btn">1</button>
</form>

<form method="post" action="{{ path('movie_rate1', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token1" value="{{ csrf_token('post' ~ movie.avgRating) }}">
    <button class="btn">1</button>
</form>

<form method="post" action="{{ path('movie_rate1', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token1" value="{{ csrf_token('post' ~ movie.avgRating) }}">
    <button class="btn">1</button>
</form>