<form method="post" action="{{ path('movie_rate1', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <button class="btn">1</button>
</form>

<form method="post" action="{{ path('movie_rate2', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <button class="btn">2</button>
</form>

<form method="post" action="{{ path('movie_rate3', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <button class="btn">3</button>
</form>

<form method="post" action="{{ path('movie_rate4', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <button class="btn">4</button>
</form>

<form method="post" action="{{ path('movie_rate5', {'id': movie.id }) }}" onsubmit="return confirm('Are you sure you want to add a rating?');">
    <input type="hidden" name="_method" value="POST">
    <button class="btn">5</button>
</form>